@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --theme-muted-foreground: #62748e;
  --theme-foreground: #020618;
  --theme-border: #e2e8f0;
  --theme-background: #fff;

  --theme-primary-foreground: #fff;
  --theme-secondary: #f3f4f6; 
  --theme-secondary-foreground: #1f2937;
  --theme-card: #fff;
  --theme-card-foreground: #020618;
  --theme-popover: #fff;
  --theme-popover-foreground: #020618;
}

@theme inline {
  --color-foreground: var(--theme-foreground);
  --color-background: var(--theme-background);
  --color-muted-foreground: var(--theme-muted-foreground);
  --color-border: var(--theme-border);


  --color-primary: var(--theme-primary);
  --color-primary-foreground: var(--theme-primary-foreground);
  --color-secondary: var(--theme-secondary);
  --color-secondary-foreground: var(--theme-secondary-foreground);
  --color-card: var(--theme-card);
  --color-card-foreground: var(--theme-card-foreground);
  --color-popover: var(--theme-popover);
  --color-popover-foreground: var(--theme-popover-foreground);
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}


.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background:#b6b0bb;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

